<h1>New User</h1>

<%= form_for User.new do |f| %>
  Name
  <%= f.text_field :name %>
  Password
  <%= f.password_field :password %>
  Height (in inches)
  <%= f.number_field :height %>
  How happy are you? (1-5 scale)
  <%= f.number_field :happiness %>
  How nauseous are you? (1-5 scale)
  <%= f.number_field :nausea %>
  How many dollars are in your pocket?
  <%= f.number_field :tickets %>
  Check box if you are a theme park owner  
  <%= f.check_box :admin, {}, "true", "false" %>
  <%= f.submit %>
<% end %>
